*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contanner {
  width: 100%;
  background-image: url("https://i.pinimg.com/1200x/8c/14/a8/8c14a8e97ed162a5939166e57ebeb67c.jpg");
  background-position: center;
  background-size: cover;
  height: 75vh;
  top: -90px;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 160px;
}

.contanner::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right,
    rgba(0, 0, 0, 0.65) 40%,
    transparent 80%
  );
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 5%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 28, 28);
    z-index: 1000;
}


.logo{
    color: aliceblue;
    font-size: 25px;
    font-family: cursive;
    left: 100px;
    cursor: pointer;
}

nav a{
  position: relative;
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin-left: 30px;
  padding: 6px 20px;
  transition: 0.5s;
}

/* hover text color */
nav a:hover{
  color: #ffffff;
}

/* span background effect */
nav a span{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  border-bottom: 2px solid white;
  border-radius: 15px;

  transform: scale(0) translateY(50px);
  opacity: 0;

  transition: 0.4s ease;
}

/* hover animation */
nav a:hover span{
  transform: scale(1) translateY(0);
  opacity: 1;
}

/* hamburger - hidden on desktop */
.nav-toggle{
  display: none;
}

.hamburger{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span{
  display: block;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  transition: 0.3s ease;
}

.nav-toggle:checked ~ .hamburger span:nth-child(1){
  transform: translateY(8.5px) rotate(45deg);
}
.nav-toggle:checked ~ .hamburger span:nth-child(2){
  opacity: 0;
}
.nav-toggle:checked ~ .hamburger span:nth-child(3){
  transform: translateY(-8.5px) rotate(-45deg);
}

.text_on_photo{
  width: 1200px;
  height: auto;
  margin: auto;
  color: #ffffff;
  position: relative;
  margin-left: 50px;
  margin-top: 160px;
  font-size: 30px;
}

.text_on_photo h1{
  margin-top: 120px;
}

.text_on_photo h2{
  margin-top: 10px;
  color: #fd8f00;
  font-size: 40px;
  font-family:cursive;
  
}

.text_welcom{
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;

}
.contact-us{
  padding: 80px 60px;
  background-color:#f9f5f0 ;
  position: relative;
  width: 100%;
 margin-bottom: 10px;
  background-image: url(https://i.pinimg.com/736x/6d/43/82/6d4382495c930a0fed1ad94fa5391eb8.jpg);
  background-color: transparent;
  background-size: cover;
  background-position: center;


}

.contact-us::before{
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(6, 6, 6, 0.65) 40%,
    transparent 60%);
}

.contact-wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  gap: 60px;
   max-width: 1100px;
  margin: 0 auto;
  align-items: flex-start;
  margin-top: 50px;
}

.contact-info{
  flex: 1;
  min-width: 280px;

}

.contact-info h1{
  font-size: 2.2rem;
  margin-bottom: 25px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  .contact-info h1 span{
  color: #e07b00;
}

.contact-info  p {
  color: #fbfbfb;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.info-item{
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;

}

.info-item i {
  font-size: 2rem;
  color: #e07b00;
  margin-top: 2px;
  flex-shrink: 0;
}

.info-item h4 {
  margin: 0 0 4px 0;
  color: #fffdfd;
  font-size: 1.5rem;
}

.info-item p {
  margin: 0;
  color: #c5c3c3;
  font-size: 1rem;
}

/* ---- Right Side ---- */

.contact-form{
  flex: 1;
  min-width: 280px;
  background: #ffa007;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  margin-top: 20px;
}

.contact-form h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 15px;

}

.contact-form input , 
.contact-form textarea{
 
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 15px;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  font-family: inherit;
  background: #fafafa;
  border-top: none;
  border-bottom: none;
  color: #ffffff;
  
  
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #f39a00;
  background: #4e4c4c;
}


.contact-form button{

  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  color: #fffefe;
  background-color: #4e4c4c;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Times New Roman', Times, serif;
  transition: backgeound 0.3s;
}

.contact-form button:hover{
   background-color: #c96d00;
} 

.footer{
  background-color: #1d1c1c;
  padding: 25px;
  

}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-logo h1{
  color: #e07b00;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-logo p{
  font-size: 20px;
  color: #e4e1e1;
  line-height: 1.7;
  max-width: 220px;

}

.footer-menu h4 {
  color: #e07b00;
  font-size: 1.5rem;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-menu ul {
  list-style: none;
}
.footer-menu ul li {
  margin-bottom: 10px;
}
.footer-menu ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}
.footer-menu ul li a:hover {
  color: #e07b00;
}

.footer-contact h4{
   color: #e07b00;
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.footer-contact p{
  color: #e4e1e1;
  font-size: 20;
  margin: 10px;
   display: flex;
  align-items: center;
  gap: 8px
}

.footer-contact span{
  font-size: 21px;
}

.footer-social h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  color: #e07b00;

}
.social-icons{
  margin-top: 10px;
  display: flex;
  gap: 12px;


  
}

.social-icons a{
  text-decoration: none;
  color: #c5c3c3;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid  rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  
}
.social-icons a:hover {
  background: #e07b00;
  border-color: #e07b00;
  color: #fff;
}
/* Copyright */
.footer-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom p {
  color: #666;
  font-size: 0.85rem;
}
.footer-bottom span {
  color: #e07b00;
}

h3{
    color: #c96d00;
    margin-top: 10px;
}

/* ============ RESPONSIVE ============ */
@media (max-width: 768px){
  .header{ padding: 0 4%; }
  .logo{ font-size: 20px; }

  .hamburger{
    display: flex;
  }

  nav{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgb(31, 28, 28);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  nav a{
    font-size: 18px;
    margin: 0;
    padding: 14px 5%;
    border-bottom: 1px solid rgba(255,255,255,0.08);
  }

  .nav-toggle:checked ~ nav{
    max-height: 400px;
  }

  .contanner{ height: 60vh; margin-top: 70px; }

  .text_on_photo{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  .text_on_photo h1{ margin-top: 60px; font-size: 26px; }
  .text_on_photo h2{ font-size: 28px; }
  .text_welcom{ font-size: 20px; }

  .contact-us{ padding: 50px 5%; }
  .contact-wrapper{
  display: flex;
  flex-wrap: wrap;  
  position: relative;
  z-index: 1;
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: flex-start;
  margin-top: 50px;
}
  .contact-info h1{ font-size: 1.8rem; }
  .contact-info p{ font-size: 1.1rem; }

  .footer-top{ flex-direction: column; gap: 25px; }
}